.form_styles {
    margin: 0 auto;
    width: 450px;
    height: 340px;
    margin: 250px auto 0 auto;
    background-image: url(../../../images/bg_login.png);
    text-align: center;
    padding: 20px 20px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.error {
    color: red;
    margin-top: 6px;
}
.inputs_container {
    display: flex;
}

.form_styles img {
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
}

.sign_button {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
    width: 130px;
    height: 40px;
}

.sign_button:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}

.first_input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.second_input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}