.much-weight:first-child {
  display: flex;
  margin-left: 50px;
}
.much-weight:last-child {
  margin-right: 50px;
}
body {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1300px;
}
.select_language {
  width: 230px;
}
body.light {
  background-color: aliceblue;
  color: black;
}
.select_language .ant-select-selection-item {
  font-size: 24px !important;
  background-color: white;
  border-radius: 45px;
}
.select_theme .ant-switch-inner-checked,
.select_theme .ant-switch-inner-unchecked {
  font-size: 16px !important;
}
body.dark {
  background-color: #222222;
  color: white;
}
.navigation {
  width: 1000px;
  padding: 20px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}
.select_theme {
  width: 100px;
  height: 22px;
  font-size: 24px;
}